body {
  font-family: "Poppins", sans-serif;
}
.header-bg-color {
  background: #264653;
}
.button-bg-color {
  background: #e76f51;
  padding: 10px 45px;
  border: none;
  border-radius: 5px;
  /* color: white; */
}
.icon-color {
  color: #e76f51;
}
.name-color {
  color: #23a6f0;
}
.gray {
  filter: grayscale(100%);
}
