body {
  font-family: "Poppins", sans-serif;
}
.header-bg-color {
  background: #264653;
}
.button-color {
  background: #e76f51;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  color: white;
}
.button-bg-color {
  background: #e76f51;
  padding: 10px 45px;
  border: none;
  border-radius: 5px;
  color: white;
}

.icon-color {
  color: #e76f51;
}
.name-color {
  color: #23a6f0;
}
.gray {
  filter: grayscale(100%);
}
.contact-bg-color {
  background: #e8f0f2;
}
